<sl-card class="card-overview">
  <div slot="header">
    <%= item.title %>
  </div>
  <img
    slot="image"
    src=<%= item.image_url %>
    alt=<%= item.title %>
    width="250"
    height="350"
  />
  <div class="description-container">
    <div><%- item.description %></div>
  </div>
  <div class="card-footer" slot="footer">
    <sl-rating label="community rating" readonly value="<%= utils.convertUserScore(item.average_score) %>"></sl-rating>
    <div class="tag-group">
      <% item.genres.forEach(genre => { %>
       <sl-tag variant="primary"><%= genre %></sl-tag>
      <% }) %>
    </div>
  </div>
</sl-card>
