<sl-card class="card-overview" data-id="<%= item.title_id %>">
  <div slot="header"><%= item.title %></div>
  <img slot="image" src="<%= item.image_url %>" alt="<%= item.title %>" width="350" height="auto" />
  <div class="description-container">
    <div><%- item.description %></div>
  </div>
  <div class="card-footer" slot="footer">
    <div class="detect-hover">
      <sl-rating
        label="community rating"
        readonly
        value="<%= utils.convertUserScore(item.average_score) %>"
      ></sl-rating>
      <span data-score="<%= item.average_score %>"></span>
    </div>
    <div>Year: <%= item.release_date %></div>
    <sl-tag variant="<%= utils.getStatusColor(item.status_name)%>">
      <%= utils.convertStatusName(item.status_name) %>
    </sl-tag>
    <div class="genre-group">
      <% item.genres.forEach(genre => { %>
      <sl-tag variant="neutral" size="small"><%= genre %></sl-tag>
      <% }) %>
    </div>
    <div class="card-actions">
      <sl-dropdown distance="5">
        <sl-tooltip slot="trigger" class="hover" content="Assign category" style="display: inline-block">
          <sl-icon-button name="<%= item.category_name === "Everything" ? "bookmark" : "bookmark-check-fill" %>" label="bookmark"></sl-icon-button>
        </sl-tooltip>
        <sl-menu class="category-menu">
          <% categories.forEach(category => { %>
            <% if (category !== "Everything") { %>
              <sl-menu-item value="<%= category %>"><%= category %></sl-menu-item>
            <% } %>
          <% }) %>
          <sl-menu-item value="Unassigned">Unassign</sl-menu-tem>
        </sl-menu>
      </sl-dropdown>
      <sl-badge variant="<%= utils.getCategoryColor(item.category_name) %>" <%= item.category_name === "Plan to Watch" ? "pulse" : "" %>><%= item.category_name === "Everything" ? "Unassigned" : item.category_name %></sl-badge>
    </div>
  </div>
</sl-card>
