<section class="form-container">
  <form action="/search" method="get" id="search-form">
    <div class="search-container">
      <search>
        <sl-input label="Search" name="query" clearable></sl-input>
      </search>
      <sl-button type="submit" variant="primary" form="search-form">Search</sl-button>
    </div>
    <div class="input-container">
      <div class="genre">
        <sl-select label="Genre" value="" multiple clearable max-options-visible="2">
          <% genres.forEach(item => { %>
          <sl-option value="<%= utils.convertGenresToHtmlValues(item) %>"><%= item %></sl-option>
          <% }) %>
        </sl-select>
      </div>
      <div class="year">
        <sl-select label="Year" multiple clearable max-options-visible="2">
          <% years.forEach(item => { %>
          <sl-option value="<%= item %>"><%= item %></sl-option>
          <% }) %>
        </sl-select>
      </div>
      <div class="status">
        <sl-select label="Status" clearable>
          <% statuses.forEach(item => { %>
          <sl-option value="<%= item %>"><%= utils.convertStatusName(item) %></sl-option>
          <% }) %>
        </sl-select>
      </div>
    </div>
  </form>
</section>
