<section class="form-container">
  <form action="search" method="get" id="search-form">
    <div class="search-container">
      <search>
        <sl-input
          label="Search"
          name="q"
          clearable
          autocomplete="off"
          maxlength="80"
          value="<%= utils.convertFormState(formState.queryString)  %>"
        ></sl-input>
      </search>
      <sl-button type="submit" variant="primary" form="search-form">Search</sl-button>
    </div>
    <div class="input-container">
      <div class="genre">
        <sl-select name="g" label="Genre" value="<%= utils.convertFormState(formState.genresArray) %>" multiple clearable max-options-visible="2">
          <% genres.forEach(item => { %>
          <sl-option value="<%= utils.convertToHtmlValues(item) %>"><%= item %></sl-option>
          <% }) %>
        </sl-select>
      </div>
      <div class="year">
        <sl-select name="y" label="Year" value="<%= utils.convertFormState(formState.yearsArray) %>"  multiple clearable max-options-visible="2">
          <% utils.sortYears(years).forEach(item => { %>
          <sl-option value="<%= item %>"><%= item %></sl-option>
          <% }) %>
        </sl-select>
      </div>
      <div class="status">
        <sl-select name="s" label="Status" clearable value="<%= utils.convertFormState(formState.statusString) %>">
          <% statuses.forEach(item => { %>
          <sl-option value="<%= item %>"><%= utils.convertStatusName(item) %></sl-option>
          <% }) %>
        </sl-select>
      </div>
    </div>
  </form>
</section>
